<div class = "container">
  <h2 class = "page-header"> Add Post</h2>
  <form (submit) = "addPost()">
    <div class = "form-group col-md-7">
      <!--about-->
      <label>Topic</label>
      <input type="text" [(ngModel)] = "about" name ="about" class = "form-control" required>
    </div>
    <div class="col-md-5"></div>

    <div class = "form-group col-md-7">
      <label>Content</label><br>
      <textarea [(ngModel)]='content' name ="content" rows="6" cols="84"></textarea>
    </div>
    <div class="col-md-5"></div>

    <div class = "form-group col-md-7">
      <label>Date</label>
      <input type="date" [(ngModel)] = "date" name ="date" class = "form-control" required>
    </div>
    <div class="col-md-5"></div>


    <div class="col-md-7">
      <input type="submit" class ="btn btn-primary" value = "Submit">
    </div>
    <div class="col-md-5"></div>

  </form>
</div>
<hr>
<div class = "container">
	<table>
			<tr>
			   <th>Name</th>
			   <th>Post</th>
			   <th>Date</th>
			   <th>About</th>
			   <th>Delete</th>
			   <th>Update</th>
			</tr>

			<tr *ngFor = "let post of posts">
			   <td>{{post.name}}</td>
			   <td>{{post.post}}</td>
			   <td>{{post.date}}</td>
			   <th>{{post.about}}</th>
        <th><input type="button" (click) = "updatePost(post._id)" value= "Edit" class ="btn btn-success"></th>
			   <th><input type="button" (click) = "deletePost(post._id)" value= "Delete" class ="btn btn-danger"></th>

			</tr>

	</table>
</div>
