<div class = "container" id="content" #content>
	<div *ngIf="user">
    <h2><b>Leave History of {{user.full_name}}</b></h2>
		<br>
    <h4><b>Email : {{user.email}}</b></h4>
    <h4><b>Contact : {{user.phone}}</b></h4>
		<h4><b>Post : {{user.post}}</b></h4>
		<br><br>

		<table>
			<tr>
			   <th>Date</th>
			   <th>Reason</th>
			   <th>Describe</th>
			   <th>State</th>
			</tr>

			<tr *ngFor = "let hry of history">
			   <td>{{hry.date}}</td>
			   <td>{{hry.reason}}</td>
			   <td>{{hry.describe}}</td>
			   <th>{{hry.state}}</th>
			</tr>

		</table>
		<br><br>

		<div class = "col-md-3">
				<input type="button" (click) = "redirectBack()" value= "back" class ="btn btn-info">
	    </div>
	    <div class = "col-md-3">
				<input type="button" (click) = "downloadPFD()" value= "Download as PDF" class ="btn btn-success">
	    </div>
	</div>
</div>









