<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4" >
    <img src="assets/image/leave-holiday.png" height="200px" width="75%">
  </div>
  <div class="col-md-4"></div>
</div>
<br>
<div class="container">
  <h5><b>
    <h3>Welcome To UCSC E-Leave Forum</h3>
    <br>
    In this portal UCSC Acadamic and Non-Acadamic staff can apply thier leave request online. so that they wouldn't apply
    leaverequest manyally anymore.
    <br>
    <br>
    <b>Procedure</b>
    <br>
    <br>
    <ul style="list-style-type:disc">
      <li>if you are member of UCSC Acadamic or Non Acadamic staff you can apply for e-leave facility</li>
      <li>first Register to this facility via Acadamic office(through the system)</li>
      <li>then you can make your own e-leave request!</li>
      <li>you can manage your leave,leave history</li>
      <li>also you can watch leave availble dates and not-availble dates</li>
    </ul>

  </b></h5>
</div>
